#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.title {
  & h1 {
    margin-bottom: 0;
  }

  & h5 {
    margin-top: 5px;
    color: #e2466a;;
  }
}

.container{
  background-color: white;
  width: 60%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px #decbb5;
}

form{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

table{
  width: 100%;
  border: 12x solid pink;
  border-radius: 20px;
  padding: 10px;
}

th{
  border: 2px solid pink;
  border-radius: 10px;
}

.acoes{
  display: flex;
  justify-content: center;
  gap: 10px;
}